/*  couleurs charte : bleu #0065FC
    version plus claire    #DEEBFF
    gris pour le fond :    #F2F2F2
*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

#blocPage {
    width: 1200px;
    margin: 0 auto;
}

#navigation {
    display: flex;
    justify-content: space-between;
   
    margin: 0px;
}

#navigation img {
    
}

nav ul {
    list-style-type: none;
    display: flex;
    color: #0065FC;
    font-weight: bold;
    margin: 0px;
   
}

nav li {
    padding: 30px;
    
}

nav li:hover {
    border-top: solid #0065FC 3px;
}

#formSubmitButton {
    display: flex;
}

#formSubmitButton form input{
    border: solid 1px #F2F2F2;
    font-weight: bold;
    height: 35px;
}

#mapMarker {
    width: 40px;
    height: 35px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
}

#mapMarker img {
    width: 15px;
    margin: auto;
}



#searchButton {
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    padding: 10px;
    width: 90px;
    border-radius: 0 10px 10px 0px;
}

#listFiltre {
    display: flex;
    align-items: center;
    font-weight: bold;

}

#listFiltre ul {
    list-style-type: none;
    display: flex;
    
}

.filtre {
    border: solid 2px #DEEBFF;
    margin: 5px;
    padding: 0px;
    display: flex;
    border-radius: 100px;
    

}

.icons {
    border-radius: 100%;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    display: flex;
}

.filtre .filtreChoice{
    margin: auto;
    padding: 10px;
}

.icons img {
    width: 25px;
    margin: auto;

}

#section1 {
    display: flex;
}

article {
    background-color: lightgrey;
   
    width: 900px;
    height: 595px;
    border-radius: 20px;
    padding: 0px 30px 0 30px;
    margin: 0px 20px 20px 0;
}

#listHotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   


}

.hotel {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    border-radius: 20px;
    border: 3px solid white;
    margin-bottom: 30px;

}

.hotel img {
    border-radius: 20px 20px 0 0;
    height: 130px;
    object-fit: cover;
    
}

.hotel h4 {
    margin: 1px;
 
}

article h3 {
    margin-top: 30px;
}

#showMore {
    margin: 0;
    ;
}


.hotel p {
    margin: 2px;
  
}

.stars {
    display: flex;
}

.blueStar {
    display: block;
    width: 20px;
    height: 30px;
    
    background-image: url(/icons/star-solid.svg);
    background-repeat: no-repeat;
}

.emptyStar {
    display: block;
    width: 20px;
    height: 30px;
    
    background-image: url(/icons/star-solid-empty.svg);
    background-repeat: no-repeat;
}

aside {
    background-color: lightgrey;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 595px;
    border-radius: 20px;
    align-content: center;
}

.popular {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    border: white 2px solid;
    margin: 15px;
    
}

.popular img {
    width: 120px;
    height: 120px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popular .popularInfo {
    margin-left: 10px; 
}

aside h3 {
    margin: 30px 0px 5px 25px;
}

.popular h4 {
    margin: 5px 0 0 0;
}
.popular p {
    margin: 5px 0 0 0;
}

.popularInfo .stars {
    margin-top: 20px
}

#infoActivity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    
}

#infoPopular {
    display: flex;
    justify-content: space-between;
}

#infoPopular img {
    width: 30px;
    margin: 30px;
}

.longImg {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    height: 370px;
    box-shadow: 1px 3px 8px lightgray;

}

.longImg img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.shortImg {
    background-color: white;
    border-radius: 20px;
    height: 175px;
    margin: 20px;
    box-shadow: 1px 3px 8px lightgray;
}

.shortImg img {
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#section2 p {
    font-weight: bold;
    margin-left: 15px;
}

#footerBlock {
    background-color: lightgrey;
}

footer { 
    width: 1200px;
    margin: auto;
}

#footerContent {
    display: flex;
}

#footerContent div {
    margin-right: 160px;
}