/*  couleurs charte : bleu #0065FC
    version plus claire    #DEEBFF
    gris pour le fond :    #F2F2F2
*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

#blocPage {
    width: 1200px;
    margin: 0 auto;
}

#navigation {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

#inscription a {
    display: none;
}

/* #navigation img {
    
}
 */

nav ul {
    list-style-type: none;
    display: flex;
    color: #0065FC;
    font-weight: bold;
    margin: 0px;
}

nav li {
    padding: 30px;
}

nav li:hover {
    border-top: solid #0065FC 3px;
}

#formSubmitButton {
    display: flex;
}

#formSubmitButton form input {
    border: solid 1px #F2F2F2;
    font-weight: bold;
    height: 35px;
}

#mapMarker {
    width: 40px;
    height: 35px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
}

#mapMarker img {
    width: 15px;
    margin: auto;
}

#searchButton {
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    padding: 10px;
    width: 90px;
    border-radius: 0 10px 10px 0px;
}

#listFiltre {
    display: flex;
    align-items: center;
    /* see responsive */
    font-weight: bold;
}

#listFiltre ul {
    list-style-type: none;
    display: flex;
}

.filtre {
    border: solid 2px #DEEBFF;
    margin: 5px;
    padding: 0px;
    display: flex;
    border-radius: 100px;
}

.icons {
    border-radius: 100%;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    display: flex;
}

#filterGroup {
    display: flex;
    align-items: center;
}

.filtre .filtreChoice {
    margin: auto;
    padding: 10px;
}

.icons img {
    width: 25px;
    margin: auto;
}

#info {
    display: flex;
}

#info img {
    width: 15px;
    height: 13px;
    margin: 14px;
    padding: 5px 6px;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
}

#section1 {
    display: flex;
}

article {
    background-color: #F2F2F2;
    width: 900px;
    height: 595px;
    border-radius: 20px;
    padding: 0px 30px 0 30px;
    margin: 0px 20px 20px 0;
}

#listHotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    border-radius: 20px;
    border: 3px solid white;
    margin-bottom: 30px;
}

.hotel img {
    border-radius: 20px 20px 0 0;
    height: 130px;
    object-fit: cover;
}

.hotel h4 {
    margin: 1px;
}

article h3 {
    margin-top: 30px;
}

#showMore {
    margin: 0;
    
}

.hotel p {
    margin: 2px;
}

.stars {
    display: flex;
}

.blueStar {
    display: block;
    width: 20px;
    height: 30px;
    background-image: url(icons/star-solid.svg);
    background-repeat: no-repeat;
}

.emptyStar {
    display: block;
    width: 20px;
    height: 30px;
    background-image: url(icons/star-solid-empty.svg);
    background-repeat: no-repeat;
}

aside {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: #F2F2F2;
    width: 350px;
    height: 595px;
    border-radius: 20px;
    
}

.popular {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    border: white 2px solid;
    margin: 15px;
}

.popular img {
    width: 120px;
    height: 120px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popular .popularInfo {
    margin-left: 10px;
}

aside h3 {
    margin: 30px 0px 5px 25px;
}

.popular h4 {
    margin: 5px 0 0 0;
}

.popular p {
    margin: 5px 0 0 0;
}

.popularInfo .stars {
    margin-top: 20px
}

#infoActivity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
    height: 400px;
}

#infoPopular {
    display: flex;
    justify-content: space-between;
}

#infoPopular img {
    width: 30px;
    margin: 30px;
}

.longImg {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    height: 370px;
    box-shadow: 1px 3px 8px lightgray;
}

.longImg img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.shortImg {
    background-color: white;
    border-radius: 20px;
    height: 175px;
    margin: 20px;
    box-shadow: 1px 3px 8px lightgray;
}

.shortImg img {
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#section2 p {
    font-weight: bold;
    margin-left: 15px;
}

#footerBlock {
    background-color: #F2F2F2;
}

footer {
    width: 1200px;
    margin: auto;
}

#footerContent {
    display: flex;
    background-color: #F2F2F2;
}

#footerContent div {
    margin-right: 160px;
}

@media only screen and (max-width: 500px) {
    #blocPage {
        width: 375px;
        margin: 0 auto;
    }
    #navigation {
        display: block;
        margin: 0px;
    }
    #inscription {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    #inscription a {
        display: block;
        color: #0065FC;
        font-weight: bold;
        text-decoration: none;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        color: #0065FC;
        padding-inline-start: 0;
    }
    nav li:nth-child(3) {
        display: none;
    }
    nav li:nth-child(2) {
        padding-right: 55px;
    }
    nav li {
        margin: 0;
        padding: 10px 45px;
        border-bottom: 2px solid #F2F2F2;
    }
    nav li:hover {
        border-top: none;
        border-bottom: solid #0065FC 3px;
    }
    #formSubmitButton {
        display: flex;
    }
    #formSubmitButton form input {
        border: solid 1px #F2F2F2;
        font-weight: bold;
        height: 18px;
        width: 220px;
        padding: 15px;
        font-size: 18px;
    }
    #mapMarker {
        width: 50px;
        height: 50px;
        background-color: #F2F2F2;
        border-radius: 10px 0 0 10px;
        display: flex;
    }
    #mapMarker img {
        width: 15px;
        margin: auto;
    }
    #searchButton {
        display: none;
    }
    #searchButtonMobile {
        width: 50px;
        height: 50px;
        ;
        background-color: #0065FC;
        border-radius: 15px;
        display: flex;
    }
    #searchButtonMobile img {
        width: 20px;
        margin: auto
    }

    #filterGroup {
        display: block;
    }

    #listFiltre {
        font-weight: bold;
        flex-wrap: wrap;
    }
    #listFiltre ul {
        flex-wrap: wrap;
        padding-inline-start: 0;
    }

    .icons {
        margin: 0px;
    }

    .filtre .filtreChoice {

        padding: 6px;
    }

    #section1 {
        flex-wrap: wrap-reverse;
    }

    article {
        background-color: white;
        width: 375px;
        height: 1380px;
        padding: 0px 30px 0 30px;
     
    }

    #listHotels {
        justify-content: space-between;
    }

    .hotel {
        width: 320px;
        border: none;
        box-shadow: 1px 3px 8px lightgray;
    }

    .hotel img {
        height: 100px;
    }

    aside {
        width: 375px;
        height: 575px;
        border-radius: 0px;
    }

    .popular {
        border-radius: 20px;
        width: 330px;
        border: white 2px solid;
        margin: 15px;
        box-shadow: 1px 3px 8px lightgray;
    }

    #infoActivity {
        height: 1250px;
        align-content: flex-start;
    }

    .longImg {
        height: 180px;
        margin: 20px 20px;
   
    }

    .longImg img{
        width: 320px;
        height: 120px;
    }



    .shortImg {
        height: 180px;
        margin: 0px;
   
    }

    .shortImg:nth-child(1) {
        margin-bottom: 20px;
    }

    .shortImg img {
        width: 320px;
        height: 120px;
    }

    #footerBlock {
        margin-top: 20px;
    }

    footer { 
        width: 375px;
      
    }

    footer h4{
        margin: 10px;
        padding: 10px;
    }
    
    footer p{
        margin: 8px 10px;
        padding: 0px 10px;
      
    }

    #footerContent {
        display: block;
        padding-top: 30px;
    }

    #footerContent div {
        margin-right: 0;
    }






}